footer{
    background: var(--Footer-Color);
    padding-top: 35px;
    padding-bottom: 35px;
}
footer .footer-inner{
    align-items: center;
}
footer a, footer p{
    font-size: 14px;
    color: var(--Thursery-Color);
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
}
footer p{
    color: #fff;
}
footer a.adr{
    text-transform: unset;
    word-break: break-all;
}
footer ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 0;
}
footer ul li:hover{
    transform: translateY(-8px);
    transition: all ease-in-out 0.32s;
}
footer ul li img{
    filter: invert(1);
    cursor: pointer;
}

/* Media Quries */
@media (max-width:768px){
    footer ul{
        justify-content: center;
    }
    footer a, footer p{
        font-size: 12px;
    }
}