.faq h2{
    font-size: 25px;
    color: #fff;
    text-align: center;
}
.faq .accordion p{
    color: #fff;
}
.faq .accordion .accordion-item{
    background: var(--Secondary-Color);
}
.faq .accordion .accordion-item .accordion-button{
    background: var(--Primary-Color);
    box-shadow: none !important;
    color: #fff;
    padding: 12px 15px;
}
.faq .accordion .accordion-item .accordion-button::after{
    filter: invert(1) brightness(100%);
}